<!doctype html>
<html lang="fr" ng-app>
    <head>
        <meta charset="UTF-8">
        <title>Exercice 5</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
<body>
   <input type="button" value="Afficher" ng-click="texte = true">
   <input type="button" value="Masquer" ng-click="texte = false">
 <p ng-show="texte">Le texte s'affiche et se masque.</p>
</div>
</body>
</html>
